.texture-selector {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  bottom: 0%;
}
.icon-container img {
  border-radius: 10px;
  margin: 5px 5px;
  background-color: rgba(198, 198, 198, 0.544);
  height: 50px;
  width: auto;
  transform-origin: center;
  padding: 12px;
  border: 1px solid white;
}

.level-item {
  border-radius: 10px;
  /* margin: 5px 5px; */
  /* background-color: rgba(198, 198, 198, 0.544); */
  height: 35px;
  padding: 0 10px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.configIcon {
  border-radius: 10px;
  margin: 5px 5px;
  background-color: rgba(198, 198, 198, 0.544);
  height: 50px;
  width: auto;
  transform-origin: center;
  padding: 12px;
  border: 1px solid white;
}

.icon-container img.active {
  border: 3px solid rgb(144, 22, 22);
}

.menu {
  top: 0px;
  left: 10px;
}
